@media screen and (min-width: 1200px) {
    .custom-product-container {
        max-width: 1760px;
    }
    .custom-product .product__media-wrapper {
        max-width: 50% !important;
        width: 50% !important;
    }
    .custom-product .product__info-wrapper {
        max-width: 50% !important;
        width: 45% !important;
    }
    .custom-product {
        column-gap: 50px !important;
    }
}
/* @media screen and (min-width: 1760px) {
    .custom-product-container {
        padding:0 clamp(20px,4.167vw,80px);
        margin: 0;
    }
} */

.custom-product .price {
    flex: 50%;
    padding: 16px;
}
.custom-product .d-none {
    display: none;
}
.custom-product .custom-buy-btn {
    text-align: center;
    flex: 50%;
    margin-top: 18px;
    margin-bottom: 18px;
    border-left: 1px solid #DBD8D6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-price-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #DBD8D6;
    border-radius: 8px;
}
.custom-price-title {
    display: block !important;
    margin-bottom: 8px;
}
.custom-product .custom-title {
    margin-top: 11px;
    margin-bottom: 0;
    font-family: Palo Wide;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.15px;
    text-align: left;
}
.custom-product .custom-subtitle {
    margin-top: 8px;
    font-family: Palo;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0.5px;
    text-align: left;
}
.custom-product .addon-custom-title {
    margin-top: 11px;
    font-family: Palo Wide;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.10px;
    text-align: left;
}



.product-form__input {
    max-width: none;
}
.product-form__input .select {
    max-width: none;
    width: 100%;
    border: 1px solid #DBD8D6;
    border-radius: 8px;
}
.product-form__input .select svg{
    right: 15px;
}
.select__select {
    padding: 0 2rem;
    background-color: white;
}
.product-form__input .select::after {
    content: none;
}
.product-form__input select:focus {
    box-shadow: none;
}
.hidden-price {
    display: none !important;
}
.product-form__input:nth-child(2) {
    display: none;
}